
/* kh */

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  /* background: linear-gradient(rgba(255, 255, 255, 0.865), rgba(255, 255, 255, 0.865)), url("http://4.bp.blogspot.com/-lle3NylY1T4/UZfs2ewBDuI/AAAAAAAAC9Q/JhYDDjXzXyk/s1600/bobsburgersfern.jpg") no-repeat center center fixed;
  background-size: cover; */
    /* background: linear-gradient(rgba(255, 255, 255, 0.865), rgba(255, 255, 255, 0.865)), url("https://image.ibb.co/kfR8k7/store_3061591_1280.png") no-repeat center center fixed;
  background-size: cover; */
  margin: 0;
  padding: 0;
}

main {
  padding-left: 20px;
  background-color: #fffdf4;
}

a {
  text-decoration: none;
  color: #db6702;
}

a:hover {
  color: #af5303;
}

label {
  display: block;
}

app {
  padding-left: 20px;
  font-family: "Arivo";
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
}

img {
  max-width: 300px;
  max-height: 300px;
  height: auto;
  width:auto;
  border:none;
  margin: auto;
}

nav {
  display: inline-block;
  text-decoration: none;
  color: #F92325;
  width: 100%;
  height: 5em;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #db6702;
  font-weight: bold;
  font-size: 1.3em;
  align-self: center;
}

.all-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 4px 0px 4px 0px;
  background-color: rgb(255, 255, 255);
}

.nav-logo {
  height: 70px;
  padding: .6em 0 .6em .6em;
  background-color: #FCDC25;
  width: 100vw;
}

.nav-logo img {
  height: 100%;
  max-width: none;
}

.nav-items {
  display: flex;
  align-content: center;
  height: 3em;
}

.nav-items a {
  text-decoration: none;
  padding: 1em 1.5em 0 .6em;
  color: #e2534e;
}

.nav-items a:visited {
  text-decoration: none;
  color: #e2534e;
}

.nav-items a:active {
  color: rgb(255, 174, 0)
}

.nav-items a:hover {
  text-decoration: none;
  color: rgb(255, 89, 0);
}

.nav-items > div > button {
  align-self: center;
  color: white;
}

.header {
  font-weight: 500 !important;
  color: rgb(250, 109, 0);
}

.subHeader {
  color: rgb(255, 174, 0);
}

form > div > div {
  display: flex;
  flex-direction: column;
}

.form-login {
  padding: 20px;
  width: 20em;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.865);
  text-align: center;
  margin: 6em auto 0em auto;
}

.form-login > a {
  font-size: .9em;
}

.form-login button {
  font-size: .9em;
}

.white {
  color: white;
}

.opacity {
  /* background-color: rgba(255, 255, 255, 0.865); */
  height: 100%;
  /* position: absolute; */
  width: 100%;
  z-index: -1;
}

.cart-button {
  margin: 1em 1.5em 0 1em;
  height: 3em;
}

.cart-button button {
  font-size: 1.3em;
  padding-right: .8em;
  padding-left: .8em;
}

#cart-display {
  padding: 20px;
  position: absolute;
  right: 0;
  top: .5;
  margin-top: 5px;
  background-color: white;
  z-index: 1;
  border: 1px solid gray;
  color: black;
  text-align: center;
}

#cart-display h3 {
  text-align: center;
  color: rgb(250, 109, 0);
}

#cart-display ul {
  list-style: none;
}

#cart-display li {
  margin-top: 10px;
}

#cart-display button {
  font-size: 1em;
}

.cart-item img {
  width: 50%;
  height: 50%;
}

#checkout-items {
  display: flex;
  padding: 4em 0em 2em .4em;
  margin-top: 4em;
  font-size: 1.1em;
  background-color: rgba(255, 255, 255, 0.797);
}

#checkout-items ul {
  list-style: none;
  align-self: flex-end;
  text-align: center;
}

#checkout-form {
  padding: 0 0 0 40px;
  align-self: flex-start;
}

#checkout-items ul li {
  width: 200px;
  height: 200px;
  text-align: center;
}

#checkout-items h4 {
  margin-top: 0px;
  margin-left: 10px;
}

.thumbnail {
  padding: 0px;
  width: 100%;
  border-radius: 0px;
  text-align: center;
}

.navibar {
  background-color: lightgrey;
  color: white;
  vertical-align: auto;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}

.navbar-element {
  margin-left: 10px;
  margin-right: 10px;
  color:black;
  font-size: 1.4em;
  text-decoration: underline;
}

.section-column {
  margin-bottom: 0px;
  margin-left: 1em;
  padding-bottom: 0px;
  padding: 0px 10px 0px 10px;
  flex-direction: column;
  width: 14%;
  min-width: 14em;
  /* width:  */
  background-color: rgba(255, 255, 255, 0.838);
  margin-top: 3em;
}

.section-header {
  margin-bottom: 0px;
  /* padding: 5px 0px 5px 30px; */
  color: rgb(250, 109, 0);
  display: flex;
  justify-content: center;
}

.section-header h2 {
  color: #ec2121;
}

.list-item {
  height: 30em;
  width: 250px;
  display: block;
  flex-direction: column;
  margin: 15px;
  text-align: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  color: black;
}

.list-item a {
  text-decoration: none;
}

.list-group.less {
  border: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  color: black;
  align-items: center;
}

/* styling the categories & products */
.page-body {
  display: flex;
  padding: 5px;
  /* background-color: rgba(255, 255, 255, 0.865); */
}

.product-page {
  padding: 1em;
  list-style: none;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.797);
  text-align: center;
  margin: auto;
  width: 40em;
}

.section-body {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.797);
}

.section-body button {
  width: min-content;
}

.section-body > label {
  padding-right: 10px;
  margin-right: 10px;
}

#reviews-section {
  padding: 1.5em;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.797);
  font-size: 1.1em;
}

#categories {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.lineItem {
  background: white;
  padding: 5px;
  margin: 5px 10px 5px 10px
}

.order-item {
  height: 15em;
  width: 250px;
  display: block;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  color: black;
}

.user {
  height: 7em;
  width: 250px;
  float: left;
  margin: 10px;
  text-align: center;
  border: none;
  text-decoration: none;
  color: black;
}

.product {
  background-color: #fffdf4;
  padding: 10px;
  border: solid 1px #84848496;
}
.product a {
  color: #ef7878;
  margin-top: 1em;
}
.productName {
  font-size: 22px;
  font-weight: 600;
  color: #de6b23;
}

.productInfo {
  padding: 8px 5px 0px 5px;
  text-align: center;
}

/*
.checkboxes-list {
.sidebarHeader {
  border-bottom: 1px solid #efefef;
}
*/

.category {
  color: #274109 !important;
}

  /* anjali */
.page-header {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  color: #DB6600;
}

.page-header {
  text-align: center;
}

.checkbox-item {
  margin-left: 0px;
  width: 200px;
  display: flex;
}
.checkbox-item label {
  padding-right: .1em;
  padding-left: 10px;
}

.input-field {
  font-size: 1.1em;
}

.input-field input {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 250px;
}

/* .input-field text-area {
  margin-top: 10px;
  padding: 10px;
} */

/* text-area {
  padding: 5px;
} */

.form-page-header {
  color: #4cae4c;
  padding-left: 10px;
}

.page-header-sidebar {
  align-self: center;
  padding-right: 1em;
}

.page-header-sidebar button {
  margin: 0px 20px 0px 0px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  color: #DB6600
}
.page-header h2 {
  padding-left: 100px;
}
.all-products {
  justify-content: center;
  width: 80%;
}

#products-list {
  padding-top: 10px;
}

.title-box {
  /* background-color: rgba(255, 255, 255, 0.838); */
  background-color: rgba(255, 255, 255, 0.797);
  width: 20%;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

.title-box h2 {
  color: rgb(250, 119, 0);
}

.orders-list {
  margin-top: 10px;
  padding: 20px;
}

.wide-list {
  width: 80%;
}
