/* kh */
body {
  background-color: #fffdf4;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

main {
  padding-left: 20px;
  background-color: #fffdf4;
}

a {
  text-decoration: none;
  color: #db6702;
}

a:hover {
  color: #af5303;
}

label {
  display: block;
}

app {
  padding-left: 20px;
  font-family: "Arivo"
}

img {
  max-width: 300px;
  max-height: 300px;
  height: auto;
  width:auto;
  border:none;
  margin: auto;
}

nav {
  display: inline-block;
  text-decoration: none;
  color: #F92325;
  width: 100%;
  height: 5em;
  /* position: flex; */
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 174, 0);
  font-weight: bold;
  font-size: 1.3em;
  align-self: center;
}

.all-nav {
  display: flex;
  justify-content: space-between;
/* .nav-items a {
  margin: 1em; */
}

.nav-logo {
  height: 70px;
  padding: .6em 0 .6em .6em;
  background-color: #FCDC25;
  width: 100vw;
}

.nav-logo img {
  height: 100%;
  max-width: none;
}

.nav-items {
  display: flex;
  align-content: center;
  height: 3em;
}

.nav-items a {
  text-decoration: none;
  padding: 1em 1.5em 0 .6em;
  /* margin: 0em 1em 0 0; */
}

.nav-items a:visited {
  text-decoration: none;
  color: rgb(255, 174, 0);
}

.nav-items a:active {
  color: rgb(255, 174, 0)
}

.nav-items a:hover {
  text-decoration: none;
  color: rgb(255, 89, 0);
}

.nav-items > div > button {
  align-self: center;
  color: white;
}

.header {
  font-weight: 500 !important;
  color: rgb(250, 109, 0);
}

.subHeader {
  color: rgb(255, 174, 0);
}

form > div > div {
  display: flex;
  flex-direction: column;
}

.form-login {
  padding: 20px;
}

.white {
  color: white;
}

.cart-button {
  margin: 1em 1.5em 0 1em;
  height: 3em;
}

.cart-button button {
  font-size: 1.3em;
  padding-right: .8em;
  padding-left: .8em;
}

#cart-display {
  padding: 20px;
  position: absolute;
  right: 0;
  top: .5;
  margin-top: 5px;
  background-color: white;
  z-index: 1;
  border: 1px solid gray;
  color: black;
}

#cart-display h3 {
  text-align: center;
  color: rgb(250, 109, 0);
}

#cart-display ul {
  list-style: none;
}

.cart-item img {
  width: 50%;
  height: 50%;
}

#checkout-items {
  display: flex;
}

#checkout-items ul {
  list-style: none;
  align-self: flex-end;
  text-align: center;
}

#checkout-form {
  padding: 0 0 0 40px;
  align-self: flex-start;
}

#checkout-items ul li {
  width: 200px;
  height: 200px;
  text-align: center;
}

#checkout-items h4 {
  margin-top: 0px;
  margin-left: 10px;
}

.thumbnail {
  padding: 0px;
  width: 100%;
  border-radius: 0px;
  text-align: center;
}

.navibar {
  background-color: lightgrey;
  color: white;
  vertical-align: auto;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}

.navbar-element {
  margin-left: 10px;
  margin-right: 10px;
  color:black;
  font-size: 1.4em;
  text-decoration: underline;
}

.section-column {
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding: 0px 10px 0px 10px;
  flex-direction: column;
  width: 20vw;
}

.section-header {
  margin-bottom: 0px;
  padding: 5px 0px 5px 50px;
  color: rgb(250, 109, 0);
}

.list-item {
  height: 32em;
  width: 250px;
  display: block;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  color: black;
}

.list-item a {
  text-decoration: none;
}

.list-group.less {
  border: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  color: black;
  align-items: center;
}

/* styling the categories & products */
.page-body {
  display: flex;
  padding: 5px;
}

.section-body {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 10px;
}
.section-body button {
  width: min-content;

}

.section-body > label {
  padding-right: 10px;
  margin-right: 10px;
}

#reviews-section {
  padding: 10px;
}

#categories {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.lineItem {
  background: white;
  padding: 5px;
  margin: 5px;
}

.order-item {
  height: 15em;
  width: 250px;
  display: block;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  color: black;
}

.user {
  height: 7em;
  width: 250px;
  float: left;
  margin: 10px;
  text-align: center;
  border: none;
  text-decoration: none;
  color: black;
}

.product {
  background-color: #fffdf4;
  padding: 10px;
  border: solid 1px #d67d2f;
}

.productName {
  font-size: 22px;
  font-weight: 600;
}

.productInfo {
  padding: 5px;
  text-align: center;
}
/*
.checkboxes-list {
.sidebarHeader {
  border-bottom: 1px solid #efefef;
}

.category {
  color: #274109 !important;
}
  /* anjali */

.page-header {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  color: #DB6600;
}

.checkbox-item {
  margin-left: 0px;
  width: 200px;
  display: flex;
}
.checkbox-item label {
  padding-right: .1em;
  padding-left: 10px;
}

.input-field {
  font-size: 1.1em;
}

.input-field input {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 250px;
}

.input-field text-area {
  margin-top: 10px;
  padding: 10px;
}

text-area {
  padding: 5px;
}

.form-page-header {
  color: #4cae4c;
  padding-left: 10px;
}

.page-header-sidebar {

}

.page-header {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  color: #DB6600
}
